<?xml version='1.0' encoding='utf-8'?>
<widget id="com.ifni.weather" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>طقس إفني</name>
    <description>تطبيق توقعات الطقس والبحري لسيدي إفني</description>
    <author email="dev@example.com" href="http://example.com">Adil</author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <!-- الأيقونة العامة -->
    <icon src="res/icon.png" />

    <platform name="android">
        <!-- الأيقونة للشاشة الافتتاحية الحديثة -->
        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="res/splash.png" />
        <!-- لون خلفية الشاشة الافتتاحية (يمكنك تغييره ليناسب تصميمك) -->
        <preference name="AndroidWindowSplashScreenBackground" value="#0d1117" />
    </platform>

    <!-- خيارات العرض -->
    <preference name="AutoHideSplashScreen" value="true" />
    <preference name="SplashScreenDelay" value="3000" />

</widget>
